nav {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    position: fixed;
}

nav.top {
    top: 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #fff;
}

nav.top div {
    display: inline-block;
    float: right;
}

nav.top a {
    display: inline-block;
    width: auto;
    border: none;
    outline: 0;
    text-aling: center;
    vertical-align: middle;
    color: #000;
    padding: 16px;
    text-decoration: none;
}

nav a.icon {
    padding: 12px !important;
}

nav.top a:hover {
    color: #fff;
    background-color: #111;
}

nav.top a.home {
    float: left;
}

nav.side {
    display: none;
    height: 100%;
    width: 200px;
    margin: 0;
    overflow: auto;
    background-color: #000;
    right: 0;
    animation: animateright 0.4s;
}

@keyframes animateright { 
    from { 
	right:-300px;opacity:0
    }
    to { 
	right:0;opacity:1
    }
}

nav.side a {
    display: block;
    width: auto;
    border: none;
    outline: 0;
    text-aling: right;
    color: #fff;
    padding: 16px;
    text-decoration: none;
}

nav.side a:hover {
    color: #000;
    background-color: #fff;
}
