nav {
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    position: fixed;
}

nav.top {
    top: 0;
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #fff;
}

nav.top div {
    display: inline-block;
    float: right;
}

nav.top a {
    display: inline-block;
    width: auto;
    height: 24px;
    line-height: 24px;
    border: none;
    outline: 0;
    text-aling: center;
    vertical-align: middle;
    color: #000;
    padding: 16px;
    text-decoration: none;
}

nav.top a:hover {
    color: #fff;
    background-color: #111;
}

nav.top a.home {
    float: left;
}

nav.side {
    display: block;
    height: 100%;
    width: 0px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #000;
    top: 56px;
    right: 0;
    transition: 0.5s;
}

#main {
    transition: 0.5s;
}

nav.side a {
    display: block;
    width: auto;
    border: none;
    outline: 0;
    text-align: right;
    color: #fff;
    padding: 16px;
    text-decoration: none;
    transition: 0.3s;
    overflow-x: hidden;
}

nav.side a:hover {
    color: #000;
    background-color: #fff;
}
