/* Tonos de gris */

.white {
    color: #000000 !important;
    background: #ffffff !important;
}

.light-gray {
    color: #000000 !important;
    background: #e6e6e6 !important;
}

.gray {
    color: #000000 !important;
    background: #999999 !important;
}

.dark-grey {
    color: #ffffff !important;
    background: #666666 !important;
}

.black {
    color: #ffffff !important;
    background: #000 !important;
}

.glassy-black {
    color: #ffffff !important;
    background: rgba(0,0,0,0.6) !important;
}

.glassy {
    opacity: 0.6;
}

.hover-glassy:hover {
    opacity: 1;
}

.opaque {
    opacity: 1;
}

.hover-opaque:hover {
    opacity: 0.6;
}
